.user-item-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.6rem 0.3rem;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.5s;
}

.user-item-post:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
